<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Idea Originality Analyzer</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
	<link rel="stylesheet" th:href="@{/styling/style.css}">
	<link rel="stylesheet" th:href="@{/styling/recorder.css}">
	<link rel="stylesheet" th:href="@{/styling/queryPopup.css}"> 
    <link rel="stylesheet" th:href="@{/styling/tooltips.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>

<body>
	<form class="idea-form" th:action="@{/query}" method="post">
		<div class="textarea-wrapper">
			<textarea name="idea-text" placeholder="Describe your idea..."></textarea>

			<button type="submit" 
				class="run-button" 
				data-tippy-content="start idea analysis"
				disabled>
				Query <i class="fa-solid fa-arrow-turn-right fa-rotate-90"></i>
			</button>

			<input type="checkbox" id="media-toggle" class="media-toggle-checkbox">
			<label for="media-toggle" 
				id="media-toogle-label" 
				class="media-button-label"
				data-tippy-content="add additional information">
				<i class="fa-solid fa-plus"></i>
			</label>
			<div class="media-menu">
				<ul>
					<li id="upload-button"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload File</li>
					<li id="record-button"><i class="fa-solid fa-microphone"></i> Record Audio</li>
				</ul>
			</div>
		</div>
		<div class="attachments-container-wrapper">
            <div id="attachments-container" class="attachments-container">
            </div>
        </div>
	</form>

    <script type="module" th:src="@{/script/mediaActions.js}"></script>
    <script type="module" th:src="@{/script/queryButtonManager.js}"></script>
    <script type="module" th:src="@{/script/queryPopup.js}"></script>
    <script type="module" th:src="@{/script/handleQuery.js}"></script>
    <script type="module" th:src="@{/script/dragAndDrop.js}"></script>
    <script type="module" th:src="@{/script/tooltips.js}"></script>
</body>

</html>