<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title data-i18n="page_title">Ideenatlas</title>
    <th:block th:replace="~{shared_fragments :: importMapScript}"></th:block>

	<link rel="stylesheet" th:href="@{/dist/main.css(v=${appVersion})}">
	<link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.min.css(v=${appVersion})}">
	<link rel="stylesheet" th:href="@{/vendor/fonts/roboto.css(v=${appVersion})}">
	<link rel="stylesheet" th:href="@{/dist/menu.css(v=${appVersion})}">
    <link rel="stylesheet"
		th:href="@{/vendor/tippy/tippy.css(v=${appVersion})}">
	
	<script th:src="@{/vendor/tippy/popper.min.js(v=${appVersion})}"></script>
	<script
		th:src="@{/vendor/tippy/tippy-bundle.umd.min.js(v=${appVersion})}"></script>
</head>

    
<body class="is-centered-content">
	<div th:replace="~{shared_fragments :: sideMenu}"></div>

	<form class="idea-form" th:action="@{/query}" method="post">
		<div class="textarea-wrapper">
			<textarea name="idea-text" placeholder="New version available, reload page."
				data-i18n="search.placeholder" autofocus></textarea>

			<button type="submit" class="run-button"
				data-tippy-content="start idea analysis"
				data-i18n="search.tooltip_start" disabled>
				<span data-i18n="search.btn_query">Query</span>
			</button>

			<input type="checkbox" id="media-toggle"
				class="media-toggle-checkbox"> <label for="media-toggle"
				id="media-toogle-label" class="media-button-label"
				data-tippy-content="add additional information"
				data-i18n="search.tooltip_media"> <i
				class="fa-solid fa-plus"></i>
			</label>
			<div class="media-menu">
				<ul>
					<li id="upload-button"><i
						class="fa-solid fa-arrow-up-from-bracket"></i> <span
						data-i18n="search.upload">Upload File</span></li>
					<li id="record-button"><i class="fa-solid fa-microphone"></i>
						<span data-i18n="search.record">Record Audio</span></li>
				</ul>
			</div>
		</div>
		<div class="attachments-container-wrapper">
            <div id="attachments-container" class="attachments-container">
            </div>
        </div>
	</form>
	
	<script type="module" th:src="@{/dist/main.js(v=${appVersion})}" defer></script>
</body>

</html>