<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="page_title">Privacy Policy</title>
    <th:block th:replace="~{shared_fragments :: importMapScript}"></th:block>
    
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/vendor/fonts/roboto.css(v=${appVersion})}">
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.min.css(v=${appVersion})}">
    <link rel="stylesheet" th:href="@{/vendor/tippy/tippy.css(v=${appVersion})}">
    <script th:src="@{/vendor/tippy/popper.min.js(v=${appVersion})}"></script>
    <script th:src="@{/vendor/tippy/tippy-bundle.umd.min.js(v=${appVersion})}"></script>
    <link rel="stylesheet" th:href="@{/dist/style.css(v=${appVersion})}">
    <link rel="stylesheet" th:href="@{/dist/legal.css(v=${appVersion})}">
    <link rel="stylesheet" th:href="@{/dist/menu.css(v=${appVersion})}">
    
</head>
<body data-features="legal-content">
    <div th:replace="~{shared_fragments :: sideMenu}"></div>

	<div id="privacy-content" class="legal-content-wrapper">
		<div class="loading-placeholder">
			<i class="fa-solid fa-circle-notch fa-spin fa-2x"></i>
		</div>
	</div>

	<script type="module" th:src="@{/dist/main.js(v=${appVersion})}" defer></script>
</body>
</html>